* {
	box-sizing: border-box;
}
body {
	margin: 0px;
	background-color: #B38481;
}
p {
	font-size: 22px;
	margin-top: 20px;
	font-weight: bold;
	text-align: center;
}
.frst {
	overflow: hidden;
	background-color: #7F525D;
}
.frst p {
	font-size: 45px;
	padding: 20px;
	font-weight: bold;
	text-align: center;
}
.scnd {
	overflow: hidden;
	float: left;
	width: 99%;
}
.slft {
	float: left;
	width: 50%;
}
.slft img {
	margin-left: 30px;
}
.srt {
	float: left;
	width: 50%;
}
.srt form {
	margin-top: 150px;
	margin-left: 80px;
}
.srt label {
    display: inline-block;
	width: 150px;
	font-size: 25px;
	padding: 5px;
}
.srt input[type=submit] {
	background-color: #7F525D;
	padding: 10px 25px 10px 25px;
	margin-top: 50px;
	margin-left: 90px;
	font-size: 25px;
	border: none;
}
.hdr {
	overflow: hidden;
	background-color: #7F525D;
}
.hdr p {
	font-size: 30px;
	padding: 8px;
	font-weight: bold;
	text-align: center;
}
.nav {
	overflow: hidden;
	background-color: #614051;
}
ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
}
li {
  float: left;
}
li a, .dropbtn {
  display: inline-block;
  color: black;
  font-size: 20px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn {
  background-color: #B38481;
}
li.dropdown {
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color:  #614051;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
  color: black;
  display: block;
  text-align: left;
  padding: 12px 16px;
  text-decoration: none;
}
.dropdown-content a:hover {
	background-color: #B38481;
}
.dropdown:hover .dropdown-content {
  display: block;
}
li.rnav{
	float: right;
}
.take {
	color: #2B3856;
}
.at{
	overflow: hidden;
	display: block;
	text-align: center;
}
#atnd {
	background-color: #7F525D;
	padding: 10px 25px 10px 25px;
	margin-top: 50px;
	font-size: 22px;
	border: none;
}
table {
    border-collapse: collapse;
    width:80%;
}
th {
    border: 1px solid #2f2f2f;
    font-size: 15px;
    text-align: center;
    padding: 4px;
    min-width: 100px;
    background-color: #7F525D;
}
td {
    color: black;
    padding: 4px;
    font-size: 14px;
    text-align: center;
    font-weight: normal;
    border: 1px solid #2f2f2f;
}
tr:nth-child(even) {
    background-color: #7F525D;
}